button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: black;
	border-radius: 3px;
	background: transparent;
	color: black;
	@include font-size(1);
	line-height: 1;
	padding: .5em 1em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {

		background: white;
		color: black;
	}
}